/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-feb-2016, 19:55:27
    Author     : Estudio
*/

html, body {
    height: 100%;
}
#map {
    /* Firefox */
    height: -moz-calc(100% - 50px);
    /* WebKit */
    height: -webkit-calc(100% - 50px);
    /* Opera */
    height: -o-calc(100% - 50px);
    /* Standard */
    height: calc(100% - 50px);
}
.navbar-header-text {
    padding-left: 0.3em;
}


.opciones{
    right: 0;
}

.clear {
    clear: both;
}
.clearM1 {
    clear: both;
    padding-bottom: 10px;
}
.clearM2 {
    clear: both;
    padding-bottom: 20px;
}
.logoUV {
    background: rgba(0, 0, 0, 0) url("../images/logoUV.png") no-repeat scroll 0 0 / 100% 100%;
    height: 60px;
    left: 6px;
    position: relative;
    top: -20px;
    vertical-align: middle;
    width: 210px;
}
#map {
    cursor: crosshair;
}


/**  Bootstrap  **/


.active[class~="ON"] { 
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#4cae4c 100%); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(top,#5cb85c 0,#4cae4c 100%); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(top,#5cb85c 0,#4cae4c 100%); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(top,#5cb85c 0,#4cae4c 100%); /* Standard syntax */
    border-color: #000; 
}
.active[class~="OFF"] { 

    /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(top,#d2322d 0,#ac2925 100%); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(top,#d2322d 0,#ac2925 100%); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(top,#d2322d 0,#ac2925 100%); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(top,#d2322d 0,#ac2925 100%); /* Standard syntax */
    border-color: #000;
}
.activeGPS{
    background-color: #ECDFC8;
}
.btn{
    border-radius: 10px;
}
.btn.btn-primary.large{
    width: 150px;
}

.btn.btn-primary.large div img {
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    border-radius: 10px;
    width: 120px;
}

.btn-group.level{
    margin-top: 7px;
    /*-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;*/
    opacity:1;
    transition: opacity .25s ease-in-out;
    
}
.btn-group.levelOFF{
    margin-top: 7px;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.btn-primary:focus, .btn-primary:hover{
    background-position: 0px;
}
.btn-primary{
    width: 50px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.labelGPS{
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 10px;
    border-radius: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 10px;
    margin-top: 0px;
    margin-left: 10px;
    vertical-align: top;
}

/**  Leaflet   **/

.sidebar-header {
    padding: 15px 10px;
    line-height: 64px;
}
.sidebar-header-text {
    float: left;
    font-size: 2em;
    line-height: 64px;
    padding-left: 15px;
}

.sidebar-header-img {
    float: left;
    
}
.sidebar-header-icon {
    font-size: 2em;
    float: left;
    
}
.sidebar-toggle-group {
    /*line-height: 36px;*/
    font-size: 1.5em;
}

.sidebar-toggle-text {
   /* float: left;*/
}

.modal-tab-text {
    padding-left: 0.3em;
}


/*
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

*/.typeahead:focus {
  border: 2px solid #0097cf;
}/*

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}*/


.Typeahead-input{
    font-size: 1.5em;
    
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.Typeahead-hint{
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    padding: 8px 12px;
}
.Typeahead-selectable{
    /*font-size: 3px;*/
    background-color: #fff;
    padding: 5px 30px;
    /*border-left: 1px solid #000000;
    border-right: 1px solid #000000;*/
    
}
.Typeahead-selectable:last-child{

    
}
.Typeahead-menu{
    /*font-size: 3px;*/
    
}
.Typeahead-dataset{
    /*background-color: #ff0;*/
    
}
.Typeahead-suggestion{
    /*font-size: 4px;*/
    
}
.Typeahead-empty{
    /*background-color: #f0f;*/
    
}
.Typeahead-open{
   /* background-color: #777;*/
   
}
.Typeahead-cursor{
    background-color: #ddd !important;
    
}
.Typeahead-highlight{
    /*background-color: #0f0;*/
    
}
.typeahead-header-resultados{
    font-size: 1.3em;
    font-weight: bold;
    /*border-bottom: 2px solid #000000;*/
    background-color: #ffffff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*margin: 0px 15px;*/
    border-top: 2px solid #000;
    padding: 10px 15px 0px;
    
    
}
.typeahead-header-resultados span{
    padding-right: 5px;
}

.typeahead-resultados-profesores{
    
    /*border-bottom: 2px solid #000000;*/
    background-color: #ffffff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    padding: 0px 25px;
    
    
}
.typeahead-resultados-profesores:last-child{
    
    /*border-bottom: 2px solid #000000;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    
    
}
.typeahead-resultados-profesores:first-child{
    
    /*border-bottom: 2px solid #000000;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid #000000;
    padding-top: 10px;
    
    
}
.typeahead-resultados-asignaturas{
    
    
    background-color: #ffffff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    padding: 0px 25px;
    
    
}
.typeahead-resultados-asignaturas:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}
.typeahead-resultados-asignaturas:first-child{
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid #000000;
    padding-top: 10px;
}
